</main>
<footer class="main__footer def__pa">
    <div class="footer__cnt1">
        <div class="footer__slogan">
            <h1 class="footer__logo">Bookly</h1>
            <p>Free your imagination, and the journey begins.</p>
        </div>
        <ul class="social__icons">
            <li class="linkedin"><i class="icon"></i></li>
            <li class="github"><i class="icon"></i></li>
            <li class="instagram"><i class="icon"></i></li>
            <li class="facebook"><i class="icon"></i></li>
        </ul>
        <p>© 2022 Bookly. All Rights Reserved</p>
    </div>
    <ul class="footer__cnt2">
        <h3>Company</h3>
        <li><a href="/">Home</a></li>
        <li><a href="/products">Books</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/blog">Blog</a></li>
    </ul>
    <ul class="footer__cnt2">
        <h3>Important Links</h3>
        <li><a href="/pp">Privacy Policy</a></li>
        <li><a href="/FAQs">FAQs</a></li>
        <li><a href="/terms-of-service">Terms of Service</a></li>
    </ul>

</footer>

</body>

</html>