<body>
    <div class="main-wrapper">
        <header class="main-header">
            <a href="/" class="nav-logo">Bookly</a>
            <nav>
                <ul class="navbar-items">
                    <li><a href="/" class="<%= path === '/' ? 'active' : '' %>">Shop</a></li>
                    <li><a href="/admin/add-product" class="<%= path === '/admin/add-product' ? 'active' : '' %>">Add
                            Product</a></li>
                </ul>
            </nav>
        </header>