.admin__edit__footer {
  display: flex;
  margin-top: 20px;
  gap: 20px;
}

.edit__icon,
.delete__icon {
  background-color: var(--white-color);
  border-radius: 5px;
  /* -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1); */
  box-shadow: 2px 2px 2px 2px #525252;
  padding: 10px;
  font-size: 20px;
  font-style: normal;
  color: var(--main-color-4);
  cursor: pointer;
  font-family: monospace;
  font-weight: bold;
}

.delete__icon {
  background-color: rgb(150, 2, 2);
  color: var(--white-color);
}

.delete__icon:hover {
  background-color: rgb(151, 54, 54);
}

.edit__icon:hover {
  background-color: rgb(241, 241, 241);
}
