@font-face {
  font-family: phenomena-bold;
  src: url(../fonts/Phenomena-Black.woff);
}

@font-face {
  font-family: phenomena;
  src: url(../fonts/Phenomena-regular.woff);
}

@font-face {
  font-family: Manrope;
  src: url(../fonts/Manrope-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: calibri;
  scroll-behavior: smooth;
}

:root {
  --main-color-1: #393280;
  --main-color-2: #ed553b;
  --main-color-3: #bcbcbc;
  --main-color-4: #111111;
  --main-color-5: #e0e0e0;
  --white-color: #fdfdfd;
  --main-padding: 0 8vw;
}

/* animation stopper while resizing the window */
.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}
/* animation stopper while resizing the window */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar-track {
  border-radius: 5px !important;
  background-color: var(--main-color-4) !important;
}

::-webkit-scrollbar {
  width: 12px !important;
  background-color: var(--main-color-4) !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px !important;
  background: linear-gradient(
    45deg,
    var(--main-color-1),
    var(--main-color-2)
  ) !important;
}

/* //////////////////////////////////////// */

.main-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--white-color);
}

.hero__main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 0 20px 8vw;
  margin-top: 20px;
  background: linear-gradient(
    78.83deg,
    #ffe6e6 -2.75%,
    #f5fffe 20.07%,
    #ffffff 54.28%,
    #ffffff 101.59%
  );
}

.hero__cnt1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.hero__cnt1 > h1 {
  font-size: 3.5rem;
  font-family: Manrope;
  font-weight: 600;
  letter-spacing: -1px;
  color: var(--main-color-1);
}

.hero__cnt1 > h4 {
  font-size: 22px;
  font-family: Manrope;
  font-weight: 500;
  word-spacing: 5px;
  max-width: 600px;
  line-height: 150%;
  color: var(--main-color-1);
}

.btn {
  color: var(--main-color-1);
  border-color: var(--main-color-1);
}

.hero__img {
  background-image: url(../img/hero1.png);
  display: block;
  width: 700px;
  aspect-ratio: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}

/* CATEGORIES */

.categories__main {
  padding: 40px 20vw;
  display: grid;
  justify-content: center;
  grid-template-columns: 3fr 3fr 3fr 3fr;
  gap: 10px;
}

.categories__item {
  padding: 20px;
  background-color: var(--main-color-2);
  border-radius: 10px;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  text-decoration: none;
  display: flex;
  align-items: flex-end;
  /* width: 250px; */
  aspect-ratio: 1;
}

.categories__item span {
  color: var(--white-color);
  font-size: 2rem;
  text-decoration: none;
  font-family: Manrope;
  font-weight: 700;
}

.education__item {
  background-image: url(../img/education.webp);
}

.all__categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
}

.management__item {
  background-image: url(../img/managment.webp);
}
.finance__item {
  background-image: url(../img/finance.webp);
}
.engineering__item {
  background-image: url(../img/engineering.webp);
}
.commerce__item {
  background-image: url(../img/commerce.webp);
}

.categories__main .btn {
  background-color: var(--main-color-1);
  border-color: var(--white-color);
  color: var(--white-color);
  font-weight: 800;
  font-family: Manrope;
  text-transform: capitalize;
}
