@font-face {
  font-family: phenomena-bold;
  src: url(../fonts/Phenomena-Black.woff);
}

@font-face {
  font-family: phenomena;
  src: url(../fonts/Phenomena-regular.woff);
}

@font-face {
  font-family: Manrope;
  src: url(../fonts/Manrope-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: calibri;
}

:root {
  --main-color-1: #f0e9d2;
  --main-color-2: #e6ddc4;
  --main-color-3: #678983;
  --main-color-4: #181d31;
  --red-color: #ed0000;
  --orange-color: #ED553B;
  --white-color: #fdfdfd;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar-track {
  border-radius: 5px !important;
  background-color: var(--main-color-4) !important;
}

::-webkit-scrollbar {
  width: 12px !important;
  background-color: var(--main-color-4) !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px !important;
  background: linear-gradient(
    45deg,
    var(--main-color-1),
    var(--main-color-2)
  ) !important;
}


/* //////////////////////////////////////// */

.main-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--main-color-3);
}

.main-header {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  margin-top: 30px;
  padding: 0 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.navbar-items {
  display: flex;
  list-style: none;
  text-decoration: none;
  gap: 50px;
}

.nav-logo {
  color: #fff;
  font-size: 2.7rem;
  font-family: phenomena;
  letter-spacing: 5px;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.nav-logo:hover {
  color: var(--main-color-4);
  letter-spacing: 1px;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.navbar-items a {
  float: right;
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  font-family: Manrope;
}

.navbar-items a:hover {
  color: var(--main-color-1);
}

.active {
  color: var(--main-color-1) !important;
  border-bottom: 2px solid var(--main-color-1);
}

.product-cnt {
  margin: 0 auto;
  width: 70%;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  align-items: center;
  color: #333333;
  margin-top: 150px;
  margin-bottom: 50px;
  justify-content: center;
}


.product__footer form {
  max-height: 34px;
}

.product__footer button {
  padding: 0 !important;
  background: none;
  border: none;
  cursor: pointer;
}

.product__card {
  background-color: var(--main-color-1);
  height: 25em;
  width: 20em;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 10px 10px 6px #525252;
}

.product__image {
  height: 21em;
  width: 20em;
  padding: 1em 2em;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  /* background-image: url("https://images.unsplash.com/photo-1544947950-fa07a98d237f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"); */
  background-size: cover;
  background-position: 25% 25%;
  background-repeat: no-repeat;
}

/* Bottom Card Section */

.product__description__cnt {
  background-color: var(--main-color-1);
  border-top: 2px solid var(--main-color-4);
  height: 0em;
  width: 20em;
  padding: 5px 1em;
  display: flex;
  flex-direction: column;
  gap: 5px;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.product__title {
  /* font-size: 1.3rem;  */
  font-size: 1.3em;
  font-family: Manrope;
  text-transform: capitalize;
  color: var(--main-color-4);
  padding: 4px 2px;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.product__description {
  font-size: 1em;
  text-transform: capitalize;
  visibility: hidden;
  color: var(--main-color-4);
  transition: all 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.2s ease-out;
}

.product__footer {
  bottom: 1rem;
  right: 0.5rem;
  position: absolute;
  padding: 0px 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 6px;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.addTo__cart__icon {
  background-color: var(--white-color);
  background-image: url(../img/add-to-cart-green.png);
  border-radius: 5px;
  display: block;
  height: 34px;
  width: 34px;
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  /* -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1); */
  box-shadow: 2px 2px 2px #525252;
}

.details__icon {
  background-color: var(--white-color);
  background-image: url(../img/details.png);
  border-radius: 5px;
  display: block;
  height: 34px;
  width: 34px;
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  /* -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1); */
  box-shadow: 2px 2px 2px #525252;
}

.product__price {
  background-color: var(--main-color-3);
  padding: 2px;
  border-radius: 5px;
  font-size: 1.35em;
  color: var(--white-color);
  box-shadow: 2px 2px 2px #525252;
  font-family: Manrope;
}

/* Property Cards Hover States */

.addTo__cart__icon:hover {
  background-color: var(--main-color-3);
  background-image: url("../img/add-to-cart-white.png");
}

.details__icon:hover {
  background-color: var(--main-color-4);
  background-image: url("../img/details-white.png");
}

.product__card:hover .product__description__cnt {
  height: 14.8em;
  padding: 0.5px 1em;
  z-index: 5;
}

.product__card:hover .product__image {
  height: 7em;
  filter: blur(5px);
}

.product__card:hover .product__description {
  visibility: visible;
}

.product__card:hover .product__title {
  padding: 0;
  padding-top: 10px;
}

.no__products {
  font-family: Manrope;
  margin-top: 200px;
  color: #333333;
  
}
