@font-face {
  font-family: phenomena-bold;
  src: url(../fonts/Phenomena-Black.woff);
}

@font-face {
  font-family: phenomena;
  src: url(../fonts/Phenomena-regular.woff);
}

@font-face {
  font-family: Manrope;
  src: url(../fonts/Manrope-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: calibri;
  scroll-behavior: smooth;
}

:root {
  --main-color-1: #393280;
  --main-color-2: #ed553b;
  --main-color-3: #bcbcbc;
  --main-color-4: #111111;
  --main-color-5: #e0e0e0;
  --white-color: #fdfdfd;
}

/* animation stopper while resizing the window */
.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}
/* animation stopper while resizing the window */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar-track {
  border-radius: 5px !important;
  background-color: var(--main-color-4) !important;
}

::-webkit-scrollbar {
  width: 12px !important;
  background-color: var(--main-color-4) !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px !important;
  background: linear-gradient(
    45deg,
    var(--main-color-1),
    var(--main-color-2)
  ) !important;
}

a,
form,
button {
  all: unset;
}

*:focus {
  outline: none;
}

.def__pa {
  padding-left: 8vw;
  padding-right: 8vw;
}

.main__pa {
  padding-left: 2vw;
  padding-right: 2vw;
}

/* ------------------------------------- */

.main-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--white-color);
}

/* HEADER */

/* .header__cnt {
  width: 100%;
  min-height: 235px;
} */

.socials__header {
  background-color: var(--main-color-1);
  /* min-height: 56px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 17px;
  padding-bottom: 17px;
}

.main__header {
  /* margin-top: 20px; */
  /* width: 100%; */
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.phone__number__cnt {
  display: flex;
  gap: 10px;
}

.phone__number {
  color: var(--white-color);
  font-weight: 400;
  line-height: 20px;
}

/* HEADER ICONS */
.social__icons {
  list-style: none;
  display: flex;
  gap: 40px;
}

.icon {
  display: block;
  width: 20px;
  aspect-ratio: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.phone__icon {
  background-image: url(../icons/phone.png);
}

.linkedin > .icon {
  background-image: url(../icons/linkedin.png);
}

.github > .icon {
  background-image: url(../icons/github.png);
}

.instagram > .icon {
  background-image: url(../icons/insta.png);
}

.facebook > .icon {
  background-image: url(../icons/fb.png);
}

.search__btn > .icon {
  background-image: url(../icons/search.png);
}

.cart__icon {
  background-image: url(../icons/cart.png);
}

.user__icon {
  background-image: url(../icons/user.png);
}

.heart__icon {
  background-image: url(../icons/heart.png);
}

.main__header .navbar__items .icon {
  width: 15px;
}

.navbar__toggle {
  position: absolute;
  inset: 135px 0 0 6vw;
  width: clamp(55px, 10vw, 70px);
  display: none;
  z-index: 9999;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  /* -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; */
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.navbar__toggle[aria-pressed="true"] {
  inset: 15px 0 0 20px;
  transform: rotate(135deg);
}

.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #000;
  stroke-width: 5.5;
  stroke-linecap: round;
}
.navbar__toggle .top {
  stroke-dasharray: 40 82;
}
.navbar__toggle .middle {
  stroke-dasharray: 40 111;
}
.navbar__toggle .bottom {
  stroke-dasharray: 40 161;
}
.navbar__toggle[aria-pressed="true"] .top {
  stroke-dasharray: 17 82;
  stroke-dashoffset: -62px;
}
.navbar__toggle[aria-pressed="true"] .middle {
  stroke-dashoffset: 23px;
}
.navbar__toggle[aria-pressed="true"] .bottom {
  stroke-dashoffset: -83px;
}

/* MAIN HEADER */

/* LOGO */

.main__logo {
  margin-top: 1vw;
  height: clamp(50px, 10vw, 60px);
  width: 150px;
}

.main__logo text {
  font-family: phenomena;
  letter-spacing: 7px;
  stroke: var(--main-color-2);
  font-size: clamp(2.5rem, 8vw, 3rem);
  font-weight: 700;
  stroke-width: 3;
  animation: textAnimate 5s alternate;
}

@keyframes textAnimate {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset: 20%;
    fill: var(--main-color-1);
  }

  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffstet: -20%;
    fill: hsla(189, 68%, 75%, 0%);
  }
}

/* LOGO */

.search__cnt {
  position: relative;
}

.search__cnt > input {
  width: clamp(100px, 30vw, 600px);
  padding: 0.8125em 1.0625em;
  font-size: 0.875rem;
  letter-spacing: 2px;
  color: var(--main-color-3);
  font-weight: 600;
  font-family: Manrope;
  background: #f5f5f5;
  border-radius: 20px;
  border: 1px solid var(--main-color-1);
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.search__btn {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  position: absolute;
  right: 17px;
  top: 14px;
  cursor: pointer;
  z-index: 100;
}

.navbar__items {
  list-style: none;
  display: flex;
  gap: 20px;
  overflow: hidden;
  margin: 1.5rem 0;
}

.navbar__items a {
  cursor: pointer;
}

.main__header .navbar__items li {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.main__header .navbar__items a {
  color: var(--main-color-1);
  text-transform: uppercase;
  text-decoration: none;
  font-family: Manrope;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 2px;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* getting only first two childs of li element*/
.main__header .navbar__items > li:nth-child(-n + 2) {
  border-right: 2px solid var(--main-color-3);
  padding-right: 0.9375em;
}
.main__header .navbar__items > li:nth-child(3) .heart__icon {
  margin-top: 2px;
}

.header__divider {
  height: 2px;
  margin: 0 0 30px 0;
  background-color: var(--main-color-5);
  border: none;
}

/* SUB HEADER */

.sub__header {
  padding: var(--main-padding);
}

.sub__header .navbar__items {
  justify-content: center;
}

.sub__header .navbar__items a {
  font-weight: 800;
  font-size: 1.2rem;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--main-color-4);
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  font-family: manrope;
}

.sub__header .navbar__items li:nth-child(-n + 5) {
  border-right: 2px solid var(--main-color-3);
  padding-right: 0.9375em;
}

/* ACTIVE */
.active {
  color: var(--main-color-2) !important;
}
/* ACTIVE */

/* HOVER , FOCUS ECT...*/

.heart:hover > .heart__icon {
  background-image: url(../icons/heart-red.png);
}

.heart:hover > a {
  color: #ff3980;
}

.user:hover > a {
  color: #14c9cf;
}

.cart:hover > a {
  color: #16d724;
}

.user:hover > .user__icon {
  background-image: url(../icons/user-blue.png);
}

.cart:hover > .cart__icon {
  background-image: url(../icons/cart-green.png);
}

.sub__header li:hover > a {
  color: var(--main-color-2);
}

.search__cnt > input:focus {
  outline: none;
  color: var(--main-color-4);
}

/* MAIN */

.main__section {
  min-height: 100vh;
}

.btn {
  margin-top: 40px;
  color: var(--main-color-4);
  border: 2px solid var(--main-color-4);
  border-radius: 7px;
  background: none;
  padding: 14px 35px;
  font-size: 1.4rem;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* FOOTER */

.main__footer {
  background-color: var(--main-color-2);
  color: var(--main-color-5);
  display: flex;
  flex-wrap: wrap;
  gap: clamp(50px, 12vw, 200px);
  padding-top: 50px;
  padding-bottom: 50px;
}

.main__footer a {
  font-size: 1rem;
  text-transform: capitalize;
  font-family: Manrope;
  text-decoration: none;
  color: var(--main-color-5);
}
.main__footer li {
  list-style: none;
}

.main__footer h3 {
  font-size: 1.2rem;
  text-transform: capitalize;
  font-family: Manrope;
  color: var(--white-color);
  margin-bottom: 10px;
}

.footer__cnt1 {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer__cnt2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main__footer .social__icons {
  margin-bottom: clamp(10px, 3vw, 40px);
}

.footer__logo {
  font-family: phenomena;
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: var(--white-color);
}

.footer__slogan p {
  width: 190px;
  font-family: Manrope;
}

/* MEDIA Q */

/* FIRST BREAK*/

@media (max-width: 65rem) {
  /* MAIN HEADER*/

  .main__header .navbar__items a {
    display: none;
  }

  .main__header .navbar__items .icon {
    width: 20px;
  }

  /* SUB HEADER*/

  .header__divider {
    margin-top: 60px;
  }

  .sub__header {
    /* padding: var(--main-padding); */
    position: fixed;
    inset: 0 50% 0 0;
    padding: 20px 40px;
    background-color: var(--main-color-2);
    -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    z-index: 1000;
  }

  .sub__header .navbar__items {
    flex-direction: column;
    /* justify-content: center; */
  }

  .sub__header .navbar__items a {
    color: var(--main-color-4);
    font-weight: 600;
  }

  .sub__header .navbar__items li:nth-child(-n + 5) {
    border-right: 0;
    padding-right: 0;
  }

  .navbar__toggle {
    display: block;
  }

  .active {
    color: var(--main-color-5) !important;
  }

  .sub__header[data-visible="false"] {
    transform: translate(-100%);
  }

  .sub__header li:hover > a {
    color: var(--main-color-5);
  }
}

/* Second break */

@media (max-width: 37.5rem) {
  .main__header {
    flex-direction: column;
    margin-top: 10px;
    gap: 0;
  }
  .search__cnt input {
    width: clamp(100px, 80vw, 600px);
    padding: 10px 17px;
    margin-bottom: 15px;
  }

  .navbar__toggle {
    inset: 60px 0 0 3vw;
  }
  .phone__number {
    display: none;
  }

  .socials__header {
    justify-content: center;
    gap: 40px;
  }
  .sub__header {
    inset: 0;
  }

  .footer__cnt1 {
    order: 1;
  }
}
/* 
.main-header {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  margin-top: 30px;
  padding: 0 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.navbar-items {
  display: flex;
  list-style: none;
  text-decoration: none;
  gap: 50px;
}

.nav-logo {
  color: #fff;
  font-size: 2.7rem;
  font-family: phenomena;
  letter-spacing: 5px;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.nav-logo:hover {
  color: var(--main-color-4);
  letter-spacing: 1px;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.navbar-items a {
  float: right;
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  font-family: Manrope;
}

.navbar-items a:hover {
  color: var(--main-color-1);
}

.active {
  color: var(--main-color-1) !important;
  border-bottom: 2px solid var(--main-color-1);
}

.product-cnt {
  margin: 0 auto;
  width: 70%;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  align-items: center;
  color: #333333;
  margin-top: 150px;
  margin-bottom: 50px;
  justify-content: center;
}


.product__footer form {
  max-height: 34px;
}

.product__footer button {
  padding: 0 !important;
  background: none;
  border: none;
  cursor: pointer;
}

.product__card {
  background-color: var(--main-color-1);
  height: 25em;
  width: 20em;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 10px 10px 6px #525252;
}

.product__image {
  height: 21em;
  width: 20em;
  padding: 1em 2em;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-size: cover;
  background-position: 25% 25%;
  background-repeat: no-repeat;
} */

/* Bottom Card Section */

/* .product__description__cnt {
  background-color: var(--main-color-1);
  border-top: 2px solid var(--main-color-4);
  height: 0em;
  width: 20em;
  padding: 5px 1em;
  display: flex;
  flex-direction: column;
  gap: 5px;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.product__title {
  font-size: 1.3em;
  font-family: Manrope;
  text-transform: capitalize;
  color: var(--main-color-4);
  padding: 4px 2px;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.product__description {
  font-size: 1em;
  text-transform: capitalize;
  visibility: hidden;
  color: var(--main-color-4);
  transition: all 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.2s ease-out;
}

.product__footer {
  bottom: 1rem;
  right: 0.5rem;
  position: absolute;
  padding: 0px 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 6px;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.addTo__cart__icon {
  background-color: var(--white-color);
  background-image: url(../img/add-to-cart-green.png);
  border-radius: 5px;
  display: block;
  height: 34px;
  width: 34px;
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 2px 2px 2px #525252;
}

.details__icon {
  background-color: var(--white-color);
  background-image: url(../img/details.png);
  border-radius: 5px;
  display: block;
  height: 34px;
  width: 34px;
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 2px 2px 2px #525252;
}

.product__price {
  background-color: var(--main-color-3);
  padding: 2px;
  border-radius: 5px;
  font-size: 1.35em;
  color: var(--white-color);
  box-shadow: 2px 2px 2px #525252;
  font-family: Manrope;
} */

/* Property Cards Hover States */

/* .addTo__cart__icon:hover {
  background-color: var(--main-color-3);
  background-image: url("../img/add-to-cart-white.png");
}

.details__icon:hover {
  background-color: var(--main-color-4);
  background-image: url("../img/details-white.png");
}

.product__card:hover .product__description__cnt {
  height: 14.8em;
  padding: 0.5px 1em;
  z-index: 5;
}

.product__card:hover .product__image {
  height: 7em;
  filter: blur(5px);
}

.product__card:hover .product__description {
  visibility: visible;
}

.product__card:hover .product__title {
  padding: 0;
  padding-top: 10px;
}

.no__products {
  font-family: Manrope;
  margin-top: 200px;
  color: #333333;
  
} */
