<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/index.css">
    <%- include('../includes/nav.ejs') %>
        <section class="hero__main">
            <div class="hero__cnt1">
                <h1>2022 Best Sellers</h1>
                <h4>Explore The New York Times Bestseller list to find your next read. Browse a wide variety of
                    bestselling books, including fiction, non-fiction, and more.</h4>
                <a href="/blog"><button class="btn">Read More</button></a>
            </div>
            <div class="hero__img">
            </div>
        </section>
        <section id="topCategories" class="categories__main">
            <a class="categories__item education__item" href="/categories"><span>Higher Education</span></a>
            <a class="categories__item management__item " href="/categories"><span>Management Books</span></a>
            <a class="categories__item finance__item" href="/categories"><span>Finance Books</span></a>
            <a class="categories__item engineering__item" href="/categories"><span>Engineering Books</span></a>
            <a class="categories__item commerce__item" href="/categories"><span>Commerce books</span></a>
            <a class="categories__item management__item " href="/categories"><span>Management Books</span></a>
            <a class="categories__item finance__item" href="/categories"><span>Finance Books</span></a>
            <a class="categories__item all__categories" href="/categories"><span>Explore our Top Categories</span>
                <button class="btn">View All</button></a>
        </section>
        <%- include('../includes/end.ejs') %>